@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  /* Variables For Storing Colors */
  --primary-clr: #ff7550;
  --bg-primary: #1f1d2a;
  --bg-secondary: #252935;
  --bg-ternary: #35333f;
  --heading-clr: #efefef;
  --text-clr: #808191;
  --bg-clr: #35333f;
  --light-green: #1de21d;
}
body.active {
  --primary-clr: #ff7550;
  --bg-primary: #fff;
  --bg-secondary: #f3f7fa;
  --bg-ternary: #e7eaf0;
  --heading-clr: #16192c;
  --text-clr: #596780;
  --bg-clr: #e1e5e8;
  --light-green: #26c626;
}

body {
  background: var(--bg-clr);
}
p {
  margin: 0;
}

/* ===== Some Styles For Common Componnets */
.dropdown-menu {
  background-color: var(--bg-ternary);
  .user_options_box {
    list-style: none;
    padding: 0;

    button {
      margin-bottom: 12px;
      padding: 5px;
      display: flex;
      align-items: center;
      color: var(--text-clr);
    }
    i {
      font-size: 20px;
    }
    .gear_icon {
      color: var(--light-green);
    }
  }
}

.page_wraper {
  /* max-width: 1500px; */
  margin: auto;
  background: var(--bg-primary);
  border-radius: 6px;
  overflow: hidden;

  /* ==== Nav Container ==== */
  .nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-clr);
    padding: 5px 1rem;
    max-height: 8vh;
    min-height: 70px;
    position: sticky;
    top: 0;
    z-index: 10;
    i {
      cursor: pointer;
    }

    .nav_boxes {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }
    .logo_box {
      .Logo_img {
        max-height: 50px;
      }
      .hamburger_icon {
        font-size: 20px;
      }
    }

    .search_box {
      width: 30%;
      padding: 0 15px;
      border-radius: 8px;
      background-color: var(--bg-ternary);

      .search_inp {
        width: 100%;
        background-color: transparent;
        color: var(--text-clr);
        border: none;
        outline: none;
        padding: 8px 12px;
      }
    }
  }

  /* ==== Contant ==== */
  .contant {
    display: flex;
    color: var(--text-clr);
    min-height: 92vh;
    position: relative;

    .side_bar {
      width: fit-content;
      max-width: 250px;
      min-height: 100%;
      background-color: var(--bg-primary);
      border-right: 1px solid var(--bg-ternary);
      border: 1px solid var(--bg-ternary);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      scrollbar-color: var(--text-clr) var(--bg-ternary);
      scrollbar-width: none;
      transition: 0.4s;

      @media (width < 992px) {
        position: absolute;
        left: -100%;
        z-index: 10;
      }

      .box_1 {
        .search_box {
          padding: 0 15px;
          align-items: center;
          background-color: var(--bg-ternary);
          margin-bottom: 20px;

          .search_inp {
            width: 90%;
            background-color: transparent;
            color: var(--text-clr);
            border: none;
            outline: none;
            padding: 8px 12px;
          }
          i {
            cursor: pointer;
          }
        }

        .menu_btns_box {
          width: 100%;
          overflow: hidden;
          .menu_btns {
            all: unset;
            width: 100%;
            color: var(--text-clr);
            padding: 10px 15px;
            padding-left: 30px;
            cursor: pointer;
            border-left: 3px solid transparent;
            transition: 0.3s;
            &:hover {
              background-color: var(--bg-ternary);
            }
            i {
              margin-right: 10px;
            }
          }
          .active {
            border-left: 3px solid var(--primary-clr);
            background-color: var(--bg-ternary);
          }
        }
      }
    }
    .side_bar_icon_view {
      transition: 0.4s;
      width: min-content;
      max-width: none;
      position: relative;
      @media (width < 992px) {
        position: absolute;
      }

      .icon_view_box {
        max-width: 90px;
        .search_icon {
          text-align: center;
          font-size: 20px;
        }
      }
    }

    .side_bar_active {
      left: 0 !important;
    }

    /* ==== Main Contant ==== */
    .main_contant {
      padding: 1.5rem;
      width: 100%;
      min-height: 100%;
      border: 1px solid var(--bg-ternary);
      overflow-y: scroll;
      scrollbar-color: var(--text-clr) var(--bg-ternary);
      scrollbar-width: none;

      /* =====> Tabs <===== */
      .tabs {
        width: 100%;
        display: none;
        h1 {
          color: var(--text-clr);
        }
      }
      .active {
        display: block;
      }
      #chart_tab {
        .chart_container {
          max-width: 800px;
          height: 600px;
          max-height: 80vh;
          margin: 2rem auto;
          display: flex;
          flex-direction: column;
          gap: 200px;
        }
      }
    }
  }
}
